<div class="d-flex justify-content-center align-items-center">
  <div class="container w-25">
    <h2 class="text-center p-2 fw-bolder"> Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    label: 'Email',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email"} %>
        <%= f.input :password,
                    label: 'Password',
                    required: true,
                    input_html: { autocomplete: "new-password", placeholder: "(minimum #{@minimum_password_length} characters)" } %>
        <%= f.input :password_confirmation,
                    label: 'Confirm password',
                    required: true,
                    input_html: { autocomplete: "new-password"} %>
        <%= f.input :first_name,
                    label: 'First name',
                    required: true,
                    input_html: { autocomplete: "First name"} %>
        <%= f.input :last_name,
                    label: 'Last Name',
                    required: true,
                    input_html: { autocomplete: "Last name"} %>
        <%= f.input :age,
                    label: 'Age',
                    required: true,
                    input_html: { autocomplete: "Age"} %>
        <%= f.button :submit, "Sign up", class: "btn btn-flat mt-2 d-block mx-auto" %>
      </div>
    <% end %>
  </div>
</div>
