<div class="container">
  <div class="index-header">
    <div class="index-header-greeting">
      <h1 class="text-center">So who's it gonna be? <br> Choose from one of our...</h1>
    </div>
    <div class="index-header-searchbar mt-4">
        <%= form_with url: celebrities_path, method: :get, class: "d-flex col-6 mx-auto" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a celebrity by name or category"
          %>
          <%= submit_tag "Search", class: "btn btn-flat" %>
        <% end %>
      </div>
  </div>

  <% if @celebrities.empty? %>
  <p>sry those celebz aren't for sale here. add one??</p>
  <% else %>

  <div class="card-collections pt-5">
    <div class="card-collection">
      <div class="cards">
      </div>
    </div>
    <div class="card-collection">
      <div class="cards">
        <% @celebrities.each do |celebrity| %>
        <div class="card card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path celebrity.photos.first.key, crop: :fill %>')">
          <div class="ribbon beige">$<%= celebrity.daily_rate %>/day</div>
          <div class="card-top">
            <%= link_to celebrity.name, celebrity_path(celebrity), class: 'stretched-link' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
