<div class="container w-25">
  <h2 class="text-center p-2 fw-bolder"> Add Celebrity</h2>
    <div class="form-control-sm">
      <%= simple_form_for(@celebrity) do |f| %>
        <%= f.input :name %>
        <%= f.input :category, collection: ["film", "music", "sports", "politics", "influencer" ] %>
        <%= f.input :description %>
        <%= f.input :daily_rate %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit class: "btn btn-flat mt-2 text-center submit-button" %>
      <% end %>
    </div>
  </h2>
</div>
