

<div class="container">
  <div class="row">
    <div class="col-6 d-flex justify-content-start">
      <% @celebrity.photos.each do |photo| %>
       <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class="col-6 p-3">
      <div class="row d-flex justify-content-start p-3 ">
        <div class="celeb-name">
          <h1 class="celebrity-title"><%= @celebrity.name %> </h1>
          <% unless @celebrity.avg_rating.nil? %>
            <%= render "celebrity_rating"  %>
          <% end %>
        </div>
      </div>
      <div class="row d-flex p-3 ">
        <div class="celeb-info">
          Category: <%= @celebrity.category.capitalize %>
          <br>
          <%= @celebrity.description %>
        </div>
      </div>
      <div class="row p-3">
        <div class="celeb-pricing">
          <%= @celebrity.daily_rate %> EUR
          <br>
          <%= link_to "Book Now", new_celebrity_booking_path(@celebrity), class: "btn btn-success" %>
        </div>
      </div>

    </div>
  </div>



</div>


<%= link_to "Read Reviews", celebrity_reviews_path(@celebrity) %>

<%# add logic that if the current_user has a booking with this celebrity, then they can leave a review %>
<%# go through all instances of the celebrity bookings %>
<% @celebrity.bookings.all.find do |booking|  %>
  <% if booking.user == current_user %>
  <%= link_to "Leave a Review", new_celebrity_review_path(@celebrity)  %>
  <% end %>
<% end %>

<% if @celebrity.user == current_user %>
  <%= link_to "Edit", edit_celebrity_path %>
  <%= link_to "Delete", celebrity_path(@celebrity), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end%>

<%= link_to "All Celebrities", celebrities_path %>
