<h1><%= @celebrity.name %>'s Booking Page</h1>

<div class="container">
  <ul>
    <li>$<%= @celebrity.daily_rate %></li>
    <li><%= @celebrity.category %></li>
    <li><%= @celebrity.description %></li>
    <li><%= @celebrity.rating %></li>
    <% @celebrity.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </ul>
</div>

<%= link_to "Book #{@celebrity.name}", new_celebrity_booking_path(@celebrity) %>

<%= link_to "Read Reviews", celebrity_reviews_path(@celebrity) %>

<%# add logic that if the current_user has a booking with this celebrity, then they can leave a review %>
<%# go through all instances of the celebrity bookings %>
<% @celebrity.bookings.all.find do |booking|  %>
  <% if booking.user == current_user %>
  <%= link_to "Leave a Review", new_celebrity_review_path(@celebrity)  %>
  <% end %>
<% end %>

<% if @celebrity.user == current_user %>
  <%= link_to "Edit", edit_celebrity_path %>
  <%= link_to "Delete", celebrity_path(@celebrity), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end%>

<%= link_to "All Celebrities", celebrities_path %>
