

<div class="container p-3">
  <div class="row">
    <div class="col-6 d-flex justify-content-start">
      <% @celebrity.photos.each do |photo| %>
       <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class="col-6 p-3 card rounded-4">
      <div class="row d-flex justify-content-start p-3 ">
        <div class="celeb-name">
          <h1 class="celebrity-title"><%= @celebrity.name %> </h1>
          <% unless @celebrity.avg_rating.nil? %>
            <%= render "celebrity_rating"  %>
          <% end %>
        </div>
      </div>
      <div class="row p-3">
        <div class="editing">
          <% if @celebrity.user == current_user %>
            <%= link_to "", edit_celebrity_path, class:"far fa-edit" %>
            <%= link_to "", celebrity_path(@celebrity), class: "fas fa-trash-alt", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <% end%>
        </div>
      </div>
      <div class="row d-flex p-3 ">
        <div class="celeb-info">
          <p>
          <strong><%= @celebrity.category.capitalize %></strong>
          <br>
          <%= @celebrity.description %>
          </p>
        </div>
      </div>
      <div class="row p-3">
        <div class="celeb-pricing">
          <p class="grow"><strong><%= @celebrity.daily_rate %></strong> EUR</p>
          <br>
          <%= link_to "Book Now", new_celebrity_booking_path(@celebrity), class: "btn btn-success" %>
        </div>
      </div>



      </div>
    </div>
  </div>
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h2>All Reviews</h2>
      <% if @celebrity.reviews.empty? %>
        <h2> No Reviews</h2>
        <% else %>
        <% @celebrity.reviews.each do |r| %>
          <p><%= r.content %></p>
          <p><%= r.rating %></p>
          <% r.rating.times do %>
            <%# iterate over times rating for fontawesome %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>

  <%# add logic that if the current_user has a booking with this celebrity, then they can leave a review %>
  <%# go through all instances of the celebrity bookings %>

    <div class="card col-12 col-lg-6 p-3">
      <h2>Leave your review</h2>
      <% @celebrity.bookings.all.find do |booking|  %>
        <% if booking.user == current_user %>
          <%= simple_form_for [@celebrity, @review] do |f| %>
            <%= f.input :content %>
            <%= f.input :rating, collection: (1..5).to_a, label: "How was it with this celebrity?", input_html: {data: {controller: "star-rating"}} %>
            <%= f.submit "Send your review" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

  <%# Check the routes to add the reviews in the show page. %>
<%= link_to "Read Reviews", celebrity_reviews_path(@celebrity) %>

<%= link_to "All Celebrities", celebrities_path %>
